<style type="text/css">
    <!--
    .thumbnail {
        text-align: center;
    }

    .posted_at {
        font-size: x-small;
    }

    #feed_contents {
        position: relative;
        overflow-y: scroll;
    }

    #movie_description {
        position: fixed;
        bottom: 20%;
    }

    .movie-panel-watched {
        opacity: 0.5;
    }

    .movie-panel-watched img{
        -webkit-filter: grayscale(1);
    }

    .movie-panel-selected {
        background-color: beige;
    }

    .movie-inner-panel {
        position: relative;
        max-width: 130px;
        margin-left: auto;
        margin-right: auto;
    }

    .movie-title {
        position: absolute;
        top: 0px;
        padding: 0;
        margin: 0;
    }

    -->
</style>

<div id="feed_contents">
    <div id="movie_list" class="row-fluid">

        <ul class="thumbnails"> <!-- 動画情報が入る -->

            <li class="span2">
                <div class="thumbnail movie-panel">
                    <div class="movie-inner-panel">
                    <a href="#">
                        <img src="../img/smile.jpg" alt="thumbnail">
                        <p class="movie-title">【Minecraft】空島遊園地計画 パート12【ゆっくり実況】</p>
                    </a>
                </div>
                    <div class="posted_at">
                        2016/05/08 17:39:15
                    </div>
                </div>
            </li>

            <li class="span2">
                <div class="thumbnail movie-panel movie-panel-selected">
                    <div class="movie-inner-panel">
                    <a href="#">
                        <img src="../img/smile.jpg" alt="thumbnail">
                        <p class="movie-title">テストタイトルテストタイトルテストタイトル</p>
                    </a>
                </div>
                    <div class="posted_at">
                        2016/05/08 17:39:15
                    </div>
                </div>
            </li>

            <li class="span2">
                <div class="thumbnail movie-panel movie-panel-watched">
                    <div class="movie-inner-panel">
                    <a href="#">
                        <img src="../img/smile.jpg" alt="thumbnail">
                        <p class="movie-title">テストタイトルテストタイトルテストタイトル</p>
                    </a>
                </div>
                    <div class="posted_at">
                        2016/05/08 17:39:15
                    </div>
                </div>
            </li>

            <li class="span2">
                <div class="thumbnail movie-panel">
                    <div class="movie-inner-panel">
                    <a href="#">
                        <img src="../img/smile.jpg" alt="thumbnail">
                        <p class="movie-title">【Minecraft】空島遊園地計画 パート12【ゆっくり実況】</p>
                    </a>
                </div>
                    <div class="posted_at">
                        2016/05/08 17:39:15
                    </div>
                </div>
            </li>

            <li class="span2">
                <div class="thumbnail movie-panel">
                    <div class="movie-inner-panel">
                    <a href="#">
                        <img src="../img/smile.jpg" alt="thumbnail">
                        <p class="movie-title">テストタイトルテストタイトルテストタイトル</p>
                    </a>
                </div>
                    <div class="posted_at">
                        2016/05/08 17:39:15
                    </div>
                </div>
            </li>

            <li class="span2">
                <div class="thumbnail movie-panel">
                    <div class="movie-inner-panel">
                    <a href="#">
                        <img src="../img/smile.jpg" alt="thumbnail">
                        <p class="movie-title">テストタイトルテストタイトルテストタイトル</p>
                    </a>
                </div>
                    <div class="posted_at">
                        2016/05/08 17:39:15
                    </div>
                </div>
            </li>


        </ul>

    </div>

    <div id="movie_description">
hogehogehogeSkylandというMODで追加される空島に遊園地を作ります。

無事、遊園地が完成しました!

【メインMOD】
Skyland
【サブMOD】
MineChem5、BC、など

前⇒sm28465914
パート1⇒sm27935795
エンディング曲⇒sm25934425

マイリスト⇒mylist/46882333

空島で生放送⇒co2002020
    </div>

</div>
