<div id="feed_list">
    <div class="link-panel">
        <a href="../index.html">DASHBOARD</a>
    </div>

    <div id="update_btn">
        <button id="btn_sync" class="btn" type="button">
            <i class="icon-refresh"></i>
        </button>
    </div>

    <div id="feed_unwatch">
        <div class="link-panel">
            <a href="#">
                <span class="text-unwatch">未視聴動画テストタイトル</span>
                <span class="badge">99</span>
            </a>
        </div>

        <div class="link-panel">
            <a href="#">
                <span class="text-unwatch">未視聴動画テストタイトル</span>
                <span class="badge">99</span>
            </a>
        </div>

        <div class="link-panel">
            <a href="#">
                <span class="text-unwatch">未視聴動画テストタイトル</span>
                <span class="badge">99</span>
            </a>
        </div>

    </div>

    <hr />

    <div id="feed_watched">

        <div class="link-panel">
            <a href="#">
                <span class="text-watched">視聴済みテストタイトル</span>
                <span class="badge">99</span>
            </a>
        </div>

        <div class="link-panel">
            <a href="#">
                <span class="text-watched">視聴済みテストタイトル</span>
                <span class="badge">99</span>
            </a>
        </div>

        <div class="link-panel">
            <a href="#">
                <span class="text-watched">視聴済みテストタイトル</span>
                <span class="badge">99</span>
            </a>
        </div>

    </div>
</div>
