<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">

        <title>ニコニコ動画マイリストチェッカー</title>

        <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>

    <body>

        <div id="contents">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div id="frame_left" class="span3">
                    </div>

                    <div id="frame_right" class="span9">
                    </div>
                </div>
            </div>      <!-- row-fluid -->
            <div id="frame_bottom">
            </div>
        </div>


        <script src="../front/index.js"></script>
        <script src="../front/jquery-2.2.2.min.js"></script>
        <script type="application/javascript">
            if (typeof module === 'object' && typeof module.exports !== 'undefined') {
                window.$ = window.jQuery = module.exports;
            }
        </script>
        <script src="../front/bootstrap.min.js"></script>

        <link href="../css/feed_list.css" rel="stylesheet">
    </body>

</html>

